<!doctype html>
<html>
<head>
    <title>code library</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="form.css">
    <link rel="icon" type="image/png" href="iconLambda.png" />
    <meta charset="utf-8">
</head>
    <body>

<div class="popstripe"></div>
<div id="wrapper">
<div class="top">
  <div class="search-container">

    <form id="search" action="/search" method="get"
        <label>
            <input name="search" class="search" type="text" placeholder="Search">
        </label>
    </form>
    </div>
</div>

<h1><a href="/">Code Library</a></h1>
    <p>~ A library for all your code, great and small. ~</p>


<br />
        {{{body}}}


<div id="footer">
<footer>
<ul>
    <li><a href="/docs">Made with lots of <object type="image/svg+xml" data="/heart.svg"></object></a> .:. <a href="https://www.gitlab.com/lbeckman314/codelibrary"> open-source and free</a></li>

<li class="poem"><pre>The welcoming smile of my librarian / The anticipation in my heart / All those books — another world — just waiting / At my fingertips. — Nikki Giovanni</pre></li>
</ul>
</footer>
</div>
</div>


<div class="popstripe-bw"></div>
    </body>
</html>

<script src="align.js"></script>
<script src="jquery.min.js"></script>
