

<p><a href="/program" class="name">/program</a> ⇢ browse our sampling of programs and add your own!.</p>
<p><a href="/author" class="name">/author</a> ⇢ see the authors or add a new one to the mix.</p>

<p><a href="/language" class="name">/language</a> ⇢ checkout the languages used or add a new language.</p>

<p><a href="/os" class="name">/os</a> ⇢ browse operating systems.</p>

<p><a href="/src" class="name">/src</a> ⇢ browse download sources.</p>

<hr />


<p><a href="/program-author" class="name">/program-author</a> ⇢ connect authors to a program.</p>
<p><a href="/program-language" class="name">/program-language</a> ⇢ connect languages to a program.</p>
<p><a href="/program-os" class="name">/program-os</a> ⇢ connect operating systems to a program.</p>

<hr />

<p><a href="/er" class="name">/er</a> ⇢ the entity-relationship diagram for this database.</p>
<p><a href="/schema" class="name">/schema</a> ⇢ the schema for this database.</p>
<p><a href="/docs" class="name">/docs</a> ⇢ the docs for this database.</p>

<hr />
<br />

{{#each program}}
    <ul>{{num}} programs</ul>
{{/each}}
<ul>·</ul>

{{#each author}}
    <ul>{{num}} authors</ul>
<ul>·</ul>
{{/each}}

{{#each language}}
    <ul>{{num}} languages</ul>
<ul>·</ul>
{{/each}}

{{#each os}}
    <ul>{{num}} operating systems</ul>
<ul>·</ul>
{{/each}}

{{#each src}}
    <ul>{{num}} download sources</ul>
{{/each}}

