
<div id="add"></div>

<div id="form"></div>

<div id="table"></div>



{{#if program}}
<h2><a href="/program">program</a></h2>
<table>
    <tr> 
        <th>name</th> 
        <th>purpose</th> 
        <th>url</th>
        <th>version</th>  
        <th>license</th>  
    </tr> 
        {{#each program}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{purpose}}</td> 
            <td><a href="{{url}}">{{url}}</a></td> 
            <td>{{version}}</td>
            <td>{{license}}</td>
            <td>
            <form action="/edit-program" method="get">
                <input value="Edit" class="buttonEdit" type="submit">
                <input name="id" value={{id}} class="hidden" type="hidden">
            </form>
            <form action="/delete" method="get">
                <input value="Delete" class="buttonDelete" type="submit">
                <input name="table" value="program" class="hidden" type="hidden"></form>
                <input name="id" value={{id}} class="hidden" type="hidden"></form>
            </td>
        </tr> 
        {{/each}} 
</table> 
{{/if}}

{{#if author}}
<h2><a href="author">author</a></h2>
<table>
    <tr> 
        <th>name</th> 
        <th>url</th>
    </tr> 
        {{#each author}} 
        <tr> 
            <td>{{name}}</td> 
            <td><a href="{{url}}">{{url}}</a></td> 
            <!--<td><a href="/people/{{id}}">edit</a></td>-->
            <!--<td><button onclick="deletePerson({{id}})">delete</button></td>-->
            <td>
            <form action="/edit-author" method="get">
                <input value="Edit" class="buttonEdit" type="submit">
                <input name="id" value={{id}} class="hidden" type="hidden">
            </form>
            <form action="/delete" method="get">
                <input value="Delete" class="buttonDelete" type="submit">
                <input name="table" value="author" class="hidden" type="hidden"></form>
                <input name="id" value={{id}} class="hidden" type="hidden"></form>
            </td>
        </tr> 
        {{/each}} 
</table> 
{{/if}}

  {{#if language}}
<h2><a href="language">language</a></h2>
<table>
    <tr> 
        <th>name</th> 
        <th>url</th>
    </tr> 
        {{#each language}} 
        <tr> 
            <td>{{name}}</td> 
            <td><a href="{{url}}">{{url}}</a></td> 
            <td>
            <form action="/edit-language" method="get">
                <input value="Edit" class="buttonEdit" type="submit">
                <input name="id" value={{id}} class="hidden" type="hidden">
            </form>
            <form action="/delete" method="get">
                <input value="Delete" class="buttonDelete" type="submit">
                <input name="table" value="language" class="hidden" type="hidden"></form>
                <input name="id" value={{id}} class="hidden" type="hidden"></form>
            </td>
        </tr> 
        {{/each}} 
</table> 
{{/if}}

{{#if os}}
<h2><a href="os">os</a></h2>
<table>
    <tr> 
        <th>name</th> 
        <th>url</th>
    </tr> 
        {{#each os}} 
        <tr> 
            <td>{{name}}</td> 
            <td><a href="{{url}}">{{url}}</a></td> 
            <td>
            <form action="/edit-os" method="get">
                <input value="Edit" class="buttonEdit" type="submit">
                <input name="id" value={{id}} class="hidden" type="hidden">
            </form>
            <form action="/delete" method="get">
                <input value="Delete" class="buttonDelete" type="submit">
                <input name="table" value="os" class="hidden" type="hidden"></form>
                <input name="id" value={{id}} class="hidden" type="hidden"></form>
            </td>
        </tr> 
        {{/each}} 
</table> 
{{/if}}

{{#if src}}
<h2><a href="src">src</a></h2>
<table>
    <tr> 
        <th>url</th>
        <th>type</th>  
    </tr> 
        {{#each src}} 
        <tr> 
            <td><a href="{{url}}">{{url}}</a></td> 
            <td>{{type}}</td>
            <td>
            <form action="/edit-src" method="get">
                <input value="Edit" class="buttonEdit" type="submit">
                <input name="id" value={{id}} class="hidden" type="hidden">
            </form>
            <form action="/delete" method="get">
                <input value="Delete" class="buttonDelete" type="submit">
                <input name="table" value="src" class="hidden" type="hidden"></form>
                <input name="id" value={{id}} class="hidden" type="hidden"></form>
            </td>
        </tr> 
        {{/each}} 
</table> 
{{/if}}

{{#if program_author}}
<h2><a href="program_author">program_author</a></h2>
<table>
  <tr> 
    <th>program</th> 
    <th>author</th>
  </tr> 
  {{#each program_author}} 
  <tr> 
    <td>{{pname}}</td> 
    <td>{{aname}}</td> 
    <td>
    <form action="/edit-program-author" method="get">
    <input value="Edit" class="buttonEdit" type="submit">
    <input name="pid" value={{pid}} type="hidden" class="hiddenpid">
    <input name="aid" value={{aid}} type="hidden" class="hiddenaid">
    </form>
    <form action="/delete" method="get">
    <input value="Delete" class="buttonDelete" type="submit">
    <input name="pid" value={{pid}} type="hidden" class="hiddenpid">
    <input name="aid" value={{aid}} type="hidden" class="hiddenaid">
    <input name="table" value="program_author" class="hidden-table" type="hidden"></form>
    </form>
    </td>
  </tr> 
  {{/each}} 
</table> 
{{/if}}



{{#if program_language}}
<h2><a href="program_language">program_language</a></h2>
<table>
  <tr> 
    <th>program</th> 
    <th>language</th>
  </tr> 
  {{#each program_language}} 
  <tr> 
    <td>{{pname}}</td> 
    <td>{{lname}}</td> 
    <td>
    <form action="/edit-program-language" method="get">
    <input value="Edit" class="buttonEdit" type="submit">
    <input name="pid" value={{pid}} type="hidden" class="hiddenpid">
    <input name="lid" value={{lid}} type="hidden" class="hiddenlid">
    </form>
    <form action="/delete" method="get">
    <input value="Delete" class="buttonDelete" type="submit">
    <input name="pid" value={{pid}} type="hidden" class="hiddenpid">
    <input name="lid" value={{lid}} type="hidden" class="hiddenlid">
    <input name="table" value="program_language" class="hidden-table" type="hidden"></form>
    </form>
    </td>
  </tr> 
  {{/each}} 
</table> 
{{/if}}

{{#if program_os}}
<h2><a href="program_os">program_os</a></h2>
<table>
  <tr> 
    <th>program</th> 
    <th>os</th>
  </tr> 
  {{#each program_os}} 
  <tr> 
    <td>{{pname}}</td> 
    <td>{{oname}}</td> 
    <td>
    <form action="/edit-program-os" method="get">
    <input value="Edit" class="buttonEdit" type="submit">
    <input name="pid" value={{pid}} type="hidden" class="hiddenpid">
    <input name="oid" value={{oid}} type="hidden" class="hiddenoid">
    </form>
    <form action="/delete" method="get">
    <input value="Delete" class="buttonDelete" type="submit">
    <input name="pid" value={{pid}} type="hidden" class="hiddenpid">
    <input name="oid" value={{oid}} type="hidden" class="hiddenoid">
    <input name="table" value="program_os" class="hidden-table" type="hidden"></form>
    </form>
    </td>
  </tr> 
  {{/each}} 
</table> 
{{/if}}


<pre id="results">{{results}}</pre>


<!--<script src="tabler.js"></script>-->

